.logo {
  float: left;
  display: inline-block;
  height: 30px;
  width: 205px;
  object-fit: contain;
  margin: 16px 24px 16px 0;

}

.logo img {
  float: left;
  display: inline-block;
  height: 30px;
  width: 205px;
  object-fit: contain;
  margin: 5px 24px 16px 0;

}