nz-sider {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: #001529;
  color: #fff;
  border-right: 1px solid #d9d9d9;
}

.side-com {
    height: 70px;
    
}

.logo {
  height: 32px;
  margin: 16px;
  display: block;
  object-fit: contain; 
  width: 237px;
}

li.side-com {
  position: relative;
}

li.side-com::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  border-bottom: 1px solid #fff;
}

.logo-col {
  border-bottom: 1px solid #fff;
}

