<nz-sider [nzWidth]="300" style=" background: rgb(255, 255, 255) ">
  <div nz-row>
  <div nz-col class="logo-col">
    <img class="logo" src="/assets/logo.png" alt="Logo" />
  </div>
  
</div>
  <ul nz-menu nzMode="inline" nzTheme="light">
    <li class="side-com" nz-menu-item routerLink="/dashboard" routerLinkActive="active">
      <span nz-icon nzType="fund"></span>
      <span>Dashboard</span>
    </li>
    <li class="side-com" nz-menu-item routerLink="/books" routerLinkActive="active">
      <span nz-icon nzType="book"></span>
      <span>Book</span>
    </li>
    <li class="side-com" nz-menu-item routerLink="/users" routerLinkActive="active">
      <span nz-icon nzType="user"></span>
      <span>Users</span>
    </li>
  </ul>
</nz-sider>